includes:
    - phpstan-baseline.neon

parameters:
    level: 4
    paths:
        - src
        - lang
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
    checkMissingIterableValueType: false

